/* Estilo para el contenedor de información del equipo */
#Info_Equipo {
    text-align: left;
}

/* Estilo para el título del equipo */
#Info_Equipo h1 {
    background-color: green;
    padding: 10px;
    color: white;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

#Info_Equipo img {
    float: left;
    background-color: #000000;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5px;
}

#Info_Equipo table {
    border: none;
    background-color: white;
    color: black;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    background-color: #e5730e;
    padding: 10px;
    color: white;
    text-align: center;
}

#E_mienbros {
    text-align: center;
}

#alineacion {
    text-align: center;
}

#Campo {
    width: 90%;
    margin: auto;
    position: relative;
}

#Campo img {
    width: 100%;
    height: auto;
}

.divN {
    width: 10%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    float: left;
    border: 2px solid black;
    align-content: center;
}

#div1 {
    left: 0;
}

#div2 {
    left: 22%;
    display: grid;
    align-items: center;
}

#div3 {
    left: 45%;
    display: grid;
    align-items: center;
}

#div4 {
    left: 67%;
    display: grid;
    align-items: center;
}

/*Cromo de los jugadores*/
.equipo {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.cromo {
    max-width: 200px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.C_header {
    text-align: center;
    padding: 20px;
    background-color: #01860d;
    color: #fff;
}

.C_header img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.content {
    padding: 1%;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #01860d;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 700px) {
    #Info_Equipo table {
        width: 100%;
    }
}